@model JoyaPeople.Web.Models.MemberAddEditVM

@{
    ViewBag.Title = "AddEdit";
}

<h2>AddEdit</h2>

@using (Html.BeginForm("Save", "Home")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    
    <fieldset>
        <legend>MemberAddEditVM</legend>

        @Html.EditorForModel()

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
