@model JoyaPeople.Web.Models.SearchVM
@{
    ViewBag.Title = "JoyaPeople Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <label>First Name:
        @Html.TextBoxFor(m => m.FirstName)
    </label>
    <label>Last Name:
        @Html.TextBoxFor(m => m.LastName)
    </label>
     
    <input type="submit" value="Search" />
}

<ul>
    @foreach (var member in Model.FoundMembers)
    {
        <li>
            <div>
                @member.FirstName @member.LastName
                @Html.ActionLink("Edit", "Edit", new { @id = member.Id })
            </div>
            @if (member.HasAddress)
            {
                <div>@member.StreetAddress</div>
                <div>@member.City, @member.StateCode @member.Zip</div>
            }
        </li>
    }
</ul>

@Html.ActionLink("New", "Add")